name: AsciiDoc Linter Action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t asciidoc-linter .

      - name: Run AsciiDoc Linter
        run: |
          find . -name "*.adoc" -type f | while read file; do
            docker run --rm -v ${{ github.workspace }}:/docs asciidoc-linter "$file"
          done
